# Computer Vision / Video Pipeline
torch
torchvision
opencv-python
pillow
numpy
transformers
supervision
timm
tqdm


# SAM2
git+https://github.com/facebookresearch/sam2.git

# Vector-RAG (Milvus)
pymilvus
sentence-transformers

# LLM & Embedding
google-genai
openai

# Graph-RAG (ArcadeDB + LangChain)
requests
langchain-google-genai
langchain-core
langchain-community

# Utilities
python-dotenv
pandas