# Vector-RAG (Milvus)
pymilvus
sentence-transformers

# LLM & Embedding
google-genai
openai

# Graph-RAG (ArcadeDB + LangChain)
requests
langchain-google-genai
langchain-core
langchain-community

# Utilities
python-dotenv
pandas